@import play.api.libs.json._
@import utils.JsonUtils._

@(jsonData: Seq[JsValue], headers: Seq[String])

@main("Records") {
  <body>
    <table border="1">
      <thead>
        @if(headers.nonEmpty) {
          @for(record <- headers) {
            <th>@record</th>
          }
        }
      </thead>
      <tbody>
        @for(record <- jsonData) {
          <tr>
            @for(header <- headers) {
              <td>@(unwrapValue(record \ header))</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </body>
}