@import play.api.libs.json._
@import utils.JsonUtils._
@import models.Model.{ data, pageSize }

@(jsonData: Seq[JsValue], headers: Seq[String], pageNumber: Int)(implicit request: RequestHeader)

@main("Records") {
  <h1>Records</h1>
  <h2>Ryan Stone - 040761350 - CST8333 350</h2>
  <div class="pagination">
    <div id="current-page-display">@pageNumber of @(data.count / pageSize)</div>
    <button id="previous"
      hx-get="@routes.HomeController.index(pageNumber - 1)"
      hx-trigger="click"
      hx-target="body"
      hx-swap="innerHTML"
      hx-indicator=".htmx-indicator"
      @if(pageNumber == 1) {
        disabled
      }
    >
      Previous
    </button>
    <button id="next"
      hx-get="@routes.HomeController.index(pageNumber + 1)"
      hx-trigger="click"
      hx-target="body"
      hx-swap="innerHTML"
      hx-indicator=".htmx-indicator"
      @if(pageNumber == (data.count / pageSize)) {
        disabled
      }
    >
      Next
    </button>
  </div>
  <div class="data-table">
    <table>
      <thead>
        <tr>
          <th>Actions</th>
          @if(headers.nonEmpty) {
            @for(record <- headers) {
              @if(record != "__rowId") {
                <th>
                  @record
                  <div class="sort"
                  hx-trigger="change"
                  hx-post="@routes.HomeController.sort(pageNumber)"
                  hx-target="body"
                  >
                    <label for="sort-@record">Sort</label>
                    <select id="sort-@record" name="sortField-@record">
                      <option value="asc">Ascending</option>
                      <option value="desc">Descending</option>
                    </select>
                  </div>
                </th>
              }
            }
          }
        </tr>
      </thead>
      <tbody>
        @for(record <- jsonData) {
          <tr>
            <td>
              <button class="edit-button"
              hx-trigger="click"
              hx-target="body"
              hx-swap="innerHTML"
              >
                Edit
              </button>
              <button class="delete-button"
              hx-delete="@routes.HomeController.deleteRecord(pageNumber, (record \ "__rowId").as[String])"
              hx-trigger="click"
              hx-target="body"
              hx-swap="innerHTML"
              hx-confirm="Are you sure you want to delete this record?"
              >
                Delete
              </button>
            </td>
            @for(header <- headers) {
              <td>@(unwrapValue(record \ header))</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}